[submodule "assets/projects/dsh-settings-trusted-authority/dsh-settings-trusted-authority"]
	path = assets/projects/dsh-settings-trusted-authority/dsh-settings-trusted-authority
	url = https://github.com/yunjies/dsh-settings-trusted-authority.git
